*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.grid-container{
 
    width: 100%;
    /* width: 100vw; */
    height: calc(100%-90px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
} 

.grid-container .grid-img1{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent;  */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;

   
}
.grid-container .grid-img2{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent; */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img7.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;

    
 
}
.grid-container .grid-img3{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent; */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
}
.grid-container .grid-img4{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent; */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;

}
.grid-container .grid-img5{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent; */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;

}
.grid-container .grid-img6{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent; */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
}


.grid-container .grid-img7{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent; */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;


}
.grid-container .grid-img8{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent; */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;


}
.grid-container .grid-img9{
    width: 100%;
    height: 160px;
    /* border: 1px solid transparent; */
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(0, 0, 0, 0.45) 100%), 
    url(../components/assets/img7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;


}

@media(max-width:576px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}