*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Button{
    border: none;
    padding: 11px 30px;
    background: #275015;
    color: #DAAD3B;
    font-size: 1.2rem;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 30px;
    margin-right: 15px;
    margin-top: 5px;
    transition: all 0.25s;
}
Button:hover{
    background:goldenrod;
    color: white;
    border:none
   
}
.icon {
    color: rgb(197, 193, 193);
    margin-right: 5px;
    font-size: 25px;
}