*{
    margin: 0;
    padding: 0;
}

p{
    color: #07510a;
}
.admin_signin{
    width: 100%;
    width: 100vw;
    height: 100vh;
    animation: transitionIn 0.85s;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow-x: hidden;
}

.admin_signin .admin_body{
    background-image:linear-gradient(90deg, rgba(7, 81, 10, 0.75) 0%, rgba(0, 0, 0, 0.75) 45%, rgba(0, 0, 0, 0.75) 100%); 
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: calc(100vh - 90px);
     margin: 0; 
}
.admin_signin .admin_body .admin_container {
   background-color: white;
   box-shadow: 0 2px 7px rgba(0, 0, 0, 0.7);
   width: 400px;
   max-width: 100%;
}
.admin_signin .admin_body .admin_container .admin_header {
   background-color: #f7f7f7;
   border-bottom: 1px solid #f0f0f0;
   padding: 20px 40px;
}
.admin_signin .admin_body .admin_container .admin_header h2{
   margin: 0;
   text-align: center;
   font-size: 1.8rem;
   font-weight: 600;
   color: #07510A;
}
.form{
    padding: 45px 30px;
}
.form .form-control{
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
    border: none;
}


.form .form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
}
.form .form-control input:focus{
    border: 2px solid #07510A;
    outline: none;
}

.form .form-control input:focus::placeholder{
    color: transparent;
    border-color:red;
    transition: all 0.2s;
}

.form  .forgot_password{
    text-align: end;
}
.form .forgot_password label{
    color:#07510A;
    font-weight: 600;
    cursor: pointer;
   
}

.form label:hover {
    color:goldenrod;
    
}
/*New  Btn*/
.form .input_submit{  
    position: relative;
    margin-top: 16px;
}
.form .btn1{
    background-color:#C4C4C4;
    cursor: pointer;
    color: #07510A;
    font-size: 1rem;
    font-family: 'OpenSans' sans-serif;
    font-weight: 600;
    display:block;
    padding: 10px;
    border: none;
    width: 100%;
    transition: ease-in-out 0.25s;
}
.form .btn1:hover{
    background:#DAAD3B;
    color: white; 
}