*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';   
}

/*Base styles*/

.navi{
    /* width: 100vw; */
    width: 100%;
    height: 90px;
    background: white;
    overflow-x: hidden; 
    overflow-y: hidden; 
    
}

.navi .nav-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    padding: 0px 25px; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    
}

.navi .nav-container .logo{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
  
    
  
}
 .navi .nav-container .logo img{
    width: 133px;
    height: 100%;
    object-fit: fill;
    position: relative;
    bottom: 7px; 
    max-width: 100%;
    margin-top:20px ;
}  

.navi .nav-container .logo  h4{
    font-size:20px;
    color:  #07510A;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 35px;
}

.navi .nav-container .logo h4 p{
    font-size: 20px;
    font-weight: 600;
    color:  #07510A;
}

.btn{
    border: 1px solid #C4C4C4;
    padding: 12px 30px;
    background: #C4C4C4;
    color: #07510A;
    font-size: 0.9rem;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 24px;
    margin-right: 15px;
    transition: all 0.25s;
    display: inline-block;
}

.btn:hover{
    background: goldenrod;
    color: white;
    border: 1px solid goldenrod;
  
}

/*MEDIA QUERY*/
@media (max-width:576px){
    .navi .nav-container{
        width: 100%;
    }
    .navi .nav-container .logo img{
        width: 60px;
    }
    .navi .nav-container .logo h4{
        /* border: 1px solid firebrick; */
        font-size: 16px;
    }

    .navi .nav-container .logo h4 p {
        font-size: 14px;
    }
    .btn{
        /* border: 1px solid red; */
        padding: 9px 20px;
        position: relative;
        right:5px;
        font-size: 0.8rem;

    }
}

@media only screen and (min-width:250px) and (max-width:399px){
    .navi .nav-container{
        width:95%;
        padding: 0 5px;
    }
    .navi .nav-container .logo{
        position: relative;
        left: 10px;
        
    }
    .navi .nav-container .logo img{
        width: 45px;
        position: relative;
        top: 0px;
       
    }
    .btn{
        /* border: 1px solid red; */
        padding: 5px 15px;
        position: relative;
        right: 3px;
        font-size: 0.5rem;
        top: 5px;
    }

    .navi .nav-container .logo h4{
        /* border: 1px solid firebrick; */
        font-size: 12px;
    }
    .navi .nav-container .logo h4 p {
        font-size: 10px;
    }
}