*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';   
}


/*Base styles*/

img{
    max-width: 100%;
}
.navbar{
    width: 100vw;
    width: 100%;
    height: 90px;
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar .nav-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 25px;   
}

.navbar .nav-container .logo{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center; 
  
}

 .navbar .nav-container .logo img{
    width: 133px;
    height: 100%;
    object-fit: fill;
    position: relative;
    bottom: 7px; 
    max-width: 100%;
    margin-top:20px ;
}  

.navbar .nav-container .logo  h4{
    font-size:20px;
    color:  #07510A;
    line-height: 1.2;
    font-weight: 600;
    margin: auto 0px;
}

.navbar .nav-container .logo h4 .title-spa{
    font-size: 20px;
    font-weight: 600;
}

.btn{
    border: 1px solid #C4C4C4;
    padding: 12px 30px;
    background: #C4C4C4;
    color: #07510A;
    font-size: 0.9rem;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 24px;
    margin-right: 15px;
}

.btn:hover{
    background: goldenrod;
    color: white;
    border: 1px solid goldenrod;
    transition: all 0.25s;
}