*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.RegDash{
    display: flex;
    flex-direction: column;
    border-left: 1px solid ghostwhite;
    gap: 4rem;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-left: 5px;
   
}
.RegDash h2{
    font-size: 2rem;
    color: #8ace8e;
    padding-top:35px;
    color: white;
    margin-left: 1rem;
}
.RegDash h2 > span{
    color: goldenrod;
}

.RegDash .card_cta{
    width: 30%;
    height: auto;
    margin-top: -1rem;
    margin-left: 1rem;

}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 11rem;
    background-color: goldenrod;
    padding: 1rem;
    border-radius: 0.5rem;
    
}
.cards .user h1{ 
    font-size: 1.6rem;
    color: #8ace8e;
}
.cards .user h3{ 
    font-size: 2rem;
    color: whitesmoke;
    position: relative;
    top: 15px;
}
.cards .users_icon1{
    width: 100%;
    height: 100%;    
}
.cards .users_icon1 .icons2{
    font-size: 5rem;
    height: 100%;
}
/*Table*/
.RegDash .table_cta{
    width: 98%;
    height: auto;
    margin: 10px auto;
}
.RegDash .table_cta .table_header{
    text-align: center;
    width: 100%;
    padding: 20px 0; 
}
.RegDash .table_cta .table_header h2{
   
  margin: 0;
  font-size: 1.85rem;
  color: white;
  font-weight: 600;
  text-align: start; 
 
}

.RegDash  .table_cta .table_header .liner{
    content: "";
    width: 95px;
    height: 3px;
    background:goldenrod;

}
.RegDash  .table_cta .container2{
    width: 100%;
    /* margin:0px auto; */
    box-shadow: 6px 4px 38px 4px rgba(0, 0, 0, 0.02);
}
.RegDash  .table_cta .container2 table{
    width: 100%;
    /* margin: 0 auto; */
    border-collapse:collapse;
    box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.RegDash .table_cta .container2 table tr{
    border-bottom: 0.75px solid #B5B5B5;
    /* color: #07510A; */
    font-size: 1rem;
    text-align: center;
    padding: 10px 5px;
    /* background: #07510A; */
}
.RegDash  .table_cta .container2 table tr th{
    color: goldenrod;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 5px;
    text-transform: capitalize;
    font-weight: 600;
    text-align:center;
    background: #07510A;
}


.RegDash  .table_cta .container2 table  tr td{
    padding: 15px 5px;
    color: rgb(245, 245, 245);
    text-align: center;
    font-weight: 500;
  
}
.RegDash .table_cta .container2 table  tr:nth-child(even){
    background-color:#8ace8e;
    transition: all 0.25s ease-in-out;
   
   
}
.RegDash  .table_cta .container2 table tr:hover{  
    background-color: goldenrod;
    cursor: pointer;
    
    
}

.RegDash  .table_cta .container2 .table_header2{
    text-align: center;
    margin:100px auto;
    width: 100%;
    
}
.RegDash  .table_cta .container2 .table_header2 h2{
    margin: 0;
    font-size: 1.8rem;
    color: #07510A;
    font-weight: 600; 
    
}
.RegDash  .table_cta .container2 .table_header2 .liner{
    content: "";
    width: 90px;
    height: 3px;
    background:goldenrod;
    margin: 3px auto;
    
}


@media screen and (max-width: 1200px) {
    .RegDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .RegDash{
        align-items: center;
    }
}